<h1>Listing sayings</h1>

<div>
<table>
  <thead>
    <tr>
      <th>Saying</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sayings.each do |saying| %>
      <tr>
        <td><%= saying.saying %></td>
        <td><%= link_to 'Show', saying %></td>
        <td><%= link_to 'Edit', edit_saying_path(saying) %></td>
        <td><%= link_to 'Destroy', saying, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div>
<br>

<%= link_to 'New Saying', new_saying_path %>
